In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

total = pd.read_csv('CDC - total.csv')
homicide = pd.read_csv('CDC - homicide.csv')
legal = pd.read_csv('CDC - legal.csv')
suicide = pd.read_csv('CDC - suicide.csv')

In [21]:
total

,Notes,State,State Code,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1.0,1999.0,1999.0,790,4430141,17.8
1,NaN,Alabama,1.0,2000.0,2000.0,766,4447100,17.2
2,NaN,Alabama,1.0,2001.0,2001.0,737,4467634,16.5
3,NaN,Alabama,1.0,2002.0,2002.0,724,4480089,16.2
4,NaN,Alabama,1.0,2003.0,2003.0,765,4503491,17.0
5,NaN,Alabama,1.0,2004.0,2004.0,679,4530729,15.0
6,NaN,Alabama,1.0,2005.0,2005.0,736,4569805,16.1
7,NaN,Alabama,1.0,2006.0,2006.0,780,4628981,16.9
8,NaN,Alabama,1.0,2007.0,2007.0,812,4672840,17.4
9,NaN,Alabama,1.0,2008.0,2008.0,820,4718206,17.4
10,NaN,Alabama,1.0,2009.0,2009.0,830,4757938,17.4
11,NaN,Alabama,1.0,2010.0,2010.0,782,4779736,16.4
12,NaN,Alabama,1.0,2011.0,2011.0,785,4802740,16.3
13,NaN,Alabama,1.0,2012.0,2012.0,831,4822023,17.2
14,NaN,Alabama,1.0,2013.0,2013.0,860,4833722,17.8
15,NaN,Alabama,1.0,2014.0,2014.0,815,4849377,16.8
16,NaN,Alabama,1.0,2015.0,2015.0,958,4858979,19.7
17,NaN,Alabama,1.0,2016.0,2016.0,1046,4863300,21.5
18,NaN,Alabama,1.0,2017.0,2017.0,1124,4874747,23.1
19,NaN,Alabama,1.0,2018.0,2018.0,1064,4887871,21.8
20,Total,Alabama,1.0,NaN,NaN,16704,93779449,17.8
21,NaN,Alaska,2.0,1999.0,1999.0,88,624779,14.1
22,NaN,Alaska,2.0,2000.0,2000.0,116,626932,18.5
23,NaN,Alaska,2.0,2001.0,2001.0,95,633714,15.0
24,NaN,Alaska,2.0,2002.0,2002.0,127,642337,19.8
25,NaN,Alaska,2.0,2003.0,2003.0,120,648414,18.5
26,NaN,Alaska,2.0,2004.0,2004.0,117,659286,17.7
27,NaN,Alaska,2.0,2005.0,2005.0,116,666946,17.4
28,NaN,Alaska,2.0,2006.0,2006.0,111,675302,16.4
29,NaN,Alaska,2.0,2007.0,2007.0,120,680300,17.6
...,...,...,...,...,...,...,...,...
1042,NaN,Wisconsin,55.0,2012.0,2012.0,483,5726398,8.4
1043,NaN,Wisconsin,55.0,2013.0,2013.0,570,5742713,9.9
1044,NaN,Wisconsin,55.0,2014.0,2014.0,487,5757564,8.5
1045,NaN,Wisconsin,55.0,2015.0,2015.0,613,5771337,10.6
1046,NaN,Wisconsin,55.0,2016.0,2016.0,664,5778708,11.5
1047,NaN,Wisconsin,55.0,2017.0,2017.0,624,5795483,10.8
1048,NaN,Wisconsin,55.0,2018.0,2018.0,598,5813568,10.3
1049,Total,Wisconsin,55.0,NaN,NaN,9953,112370947,8.9
1050,NaN,Wyoming,56.0,1999.0,1999.0,74,491780,15.0
1051,NaN,Wyoming,56.0,2000.0,2000.0,58,493782,11.7
1052,NaN,Wyoming,56.0,2001.0,2001.0,70,494657,14.2
1053,NaN,Wyoming,56.0,2002.0,2002.0,95,500017,19.0
1054,NaN,Wyoming,56.0,2003.0,2003.0,89,503453,17.7
1055,NaN,Wyoming,56.0,2004.0,2004.0,56,509106,11.0
1056,NaN,Wyoming,56.0,2005.0,2005.0,71,514157,13.8
1057,NaN,Wyoming,56.0,2006.0,2006.0,80,522667,15.3
1058,NaN,Wyoming,56.0,2007.0,2007.0,76,534876,14.2
1059,NaN,Wyoming,56.0,2008.0,2008.0,93,546043,17.0
1060,NaN,Wyoming,56.0,2009.0,2009.0,96,559851,17.1
1061,NaN,Wyoming,56.0,2010.0,2010.0,92,563626,16.3
1062,NaN,Wyoming,56.0,2011.0,2011.0,96,568158,16.9
1063,NaN,Wyoming,56.0,2012.0,2012.0,117,576412,20.3
1064,NaN,Wyoming,56.0,2013.0,2013.0,102,582658,17.5
1065,NaN,Wyoming,56.0,2014.0,2014.0,93,584153,15.9
1066,NaN,Wyoming,56.0,2015.0,2015.0,113,586107,19.3
1067,NaN,Wyoming,56.0,2016.0,2016.0,101,585501,17.3
1068,NaN,Wyoming,56.0,2017.0,2017.0,113,579315,19.5
1069,NaN,Wyoming,56.0,2018.0,2018.0,124,577737,21.5
1070,Total,Wyoming,56.0,NaN,NaN,1809,10874056,16.6
1071,Total,NaN,NaN,NaN,NaN,652044,6088633001,10.7

In [22]:
legal

,Notes,State,State Code,Year,Year Code,Deaths,Population,Crude Rate,Rate
0,NaN,Alabama,1.0,2016.0,2016.0,12,4863300,Unreliable,0.246746
1,Total,Alabama,1.0,NaN,NaN,64,93779449,0.1,0.068245
2,Total,Alaska,2.0,NaN,NaN,32,13838181,0.2,0.231244
3,NaN,Arizona,4.0,1999.0,1999.0,17,5023823,Unreliable,0.338388
4,NaN,Arizona,4.0,2001.0,2001.0,13,5273477,Unreliable,0.246517
5,NaN,Arizona,4.0,2002.0,2002.0,15,5396255,Unreliable,0.277971
6,NaN,Arizona,4.0,2003.0,2003.0,12,5510364,Unreliable,0.217771
7,NaN,Arizona,4.0,2004.0,2004.0,18,5652404,Unreliable,0.318449
8,NaN,Arizona,4.0,2007.0,2007.0,14,6167681,Unreliable,0.226990
9,NaN,Arizona,4.0,2010.0,2010.0,12,6392017,Unreliable,0.187734
10,NaN,Arizona,4.0,2011.0,2011.0,12,6482505,Unreliable,0.185114
11,NaN,Arizona,4.0,2012.0,2012.0,13,6553255,Unreliable,0.198375
12,NaN,Arizona,4.0,2013.0,2013.0,13,6626624,Unreliable,0.196178
13,NaN,Arizona,4.0,2014.0,2014.0,12,6731484,Unreliable,0.178267
14,NaN,Arizona,4.0,2015.0,2015.0,14,6828065,Unreliable,0.205036
15,NaN,Arizona,4.0,2016.0,2016.0,13,6931071,Unreliable,0.187561
16,NaN,Arizona,4.0,2017.0,2017.0,10,7016270,Unreliable,0.142526
17,NaN,Arizona,4.0,2018.0,2018.0,25,7171646,0.3,0.348595
18,Total,Arizona,4.0,NaN,NaN,253,123379307,0.2,0.205059
19,NaN,Arkansas,5.0,2018.0,2018.0,14,3013825,Unreliable,0.464526
20,Total,Arkansas,5.0,NaN,NaN,84,57133491,0.1,0.147024
21,NaN,California,6.0,1999.0,1999.0,64,33499204,0.2,0.191049
22,NaN,California,6.0,2000.0,2000.0,62,33871648,0.2,0.183044
23,NaN,California,6.0,2001.0,2001.0,58,34479458,0.2,0.168216
24,NaN,California,6.0,2002.0,2002.0,50,34871843,0.1,0.143382
25,NaN,California,6.0,2003.0,2003.0,80,35253159,0.2,0.226930
26,NaN,California,6.0,2004.0,2004.0,76,35574576,0.2,0.213636
27,NaN,California,6.0,2005.0,2005.0,85,35827943,0.2,0.237245
28,NaN,California,6.0,2006.0,2006.0,87,36021202,0.2,0.241524
29,NaN,California,6.0,2007.0,2007.0,80,36250311,0.2,0.220688
...,...,...,...,...,...,...,...,...,...
275,NaN,Virginia,51.0,2007.0,2007.0,13,7751000,Unreliable,0.167720
276,NaN,Virginia,51.0,2008.0,2008.0,11,7833496,Unreliable,0.140423
277,NaN,Virginia,51.0,2009.0,2009.0,16,7925937,Unreliable,0.201869
278,NaN,Virginia,51.0,2010.0,2010.0,11,8001024,Unreliable,0.137482
279,NaN,Virginia,51.0,2011.0,2011.0,15,8096604,Unreliable,0.185263
280,NaN,Virginia,51.0,2012.0,2012.0,12,8185867,Unreliable,0.146594
281,NaN,Virginia,51.0,2014.0,2014.0,12,8326289,Unreliable,0.144122
282,NaN,Virginia,51.0,2015.0,2015.0,12,8382993,Unreliable,0.143147
283,NaN,Virginia,51.0,2016.0,2016.0,11,8411808,Unreliable,0.130769
284,NaN,Virginia,51.0,2017.0,2017.0,13,8470020,Unreliable,0.153483
285,Total,Virginia,51.0,NaN,NaN,205,156820434,0.1,0.130723
286,NaN,Washington,53.0,2005.0,2005.0,12,6257305,Unreliable,0.191776
287,NaN,Washington,53.0,2009.0,2009.0,22,6667426,0.3,0.329962
288,NaN,Washington,53.0,2010.0,2010.0,15,6724540,Unreliable,0.223064
289,NaN,Washington,53.0,2011.0,2011.0,26,6830038,0.4,0.380671
290,NaN,Washington,53.0,2012.0,2012.0,16,6897012,Unreliable,0.231985
291,NaN,Washington,53.0,2013.0,2013.0,19,6971406,Unreliable,0.272542
292,NaN,Washington,53.0,2014.0,2014.0,22,7061530,0.3,0.311547
293,NaN,Washington,53.0,2015.0,2015.0,13,7170351,Unreliable,0.181302
294,NaN,Washington,53.0,2016.0,2016.0,19,7288000,Unreliable,0.260703
295,NaN,Washington,53.0,2017.0,2017.0,31,7405743,0.4,0.418594
296,NaN,Washington,53.0,2018.0,2018.0,22,7535591,0.3,0.291948
297,Total,Washington,53.0,NaN,NaN,281,132261029,0.2,0.212459
298,NaN,West Virginia,54.0,2016.0,2016.0,11,1831102,Unreliable,0.600731
299,Total,West Virginia,54.0,NaN,NaN,80,36591632,0.2,0.218629
300,NaN,Wisconsin,55.0,2017.0,2017.0,16,5795483,Unreliable,0.276077
301,NaN,Wisconsin,55.0,2018.0,2018.0,12,5813568,Unreliable,0.206414
302,Total,Wisconsin,55.0,NaN,NaN,130,112370947,0.1,0.115688
303,Total,Wyoming,56.0,NaN,NaN,12,10874056,Unreliable,0.110354
304,Total,NaN,NaN,NaN,NaN,7836,6088633001,0.1,0.128699

In [23]:
suicide

,Notes,State,State Code,Year,Year Code,Deaths,Population,Crude_Rate,Rate
0,NaN,Alabama,1.0,1999.0,1999.0,435.0,4.430141e+06,9.8,9.819101
1,NaN,Alabama,1.0,2000.0,2000.0,427.0,4.447100e+06,9.6,9.601763
2,NaN,Alabama,1.0,2001.0,2001.0,387.0,4.467634e+06,8.7,8.662303
3,NaN,Alabama,1.0,2002.0,2002.0,381.0,4.480089e+06,8.5,8.504295
4,NaN,Alabama,1.0,2003.0,2003.0,399.0,4.503491e+06,8.9,8.859793
5,NaN,Alabama,1.0,2004.0,2004.0,375.0,4.530729e+06,8.3,8.276814
6,NaN,Alabama,1.0,2005.0,2005.0,369.0,4.569805e+06,8.1,8.074743
7,NaN,Alabama,1.0,2006.0,2006.0,400.0,4.628981e+06,8.6,8.641211
8,NaN,Alabama,1.0,2007.0,2007.0,396.0,4.672840e+06,8.5,8.474504
9,NaN,Alabama,1.0,2008.0,2008.0,424.0,4.718206e+06,9,8.986466
10,NaN,Alabama,1.0,2009.0,2009.0,479.0,4.757938e+06,10.1,10.067386
11,NaN,Alabama,1.0,2010.0,2010.0,454.0,4.779736e+06,9.5,9.498433
12,NaN,Alabama,1.0,2011.0,2011.0,452.0,4.802740e+06,9.4,9.411294
13,NaN,Alabama,1.0,2012.0,2012.0,500.0,4.822023e+06,10.4,10.369092
14,NaN,Alabama,1.0,2013.0,2013.0,504.0,4.833722e+06,10.4,10.426748
15,NaN,Alabama,1.0,2014.0,2014.0,479.0,4.849377e+06,9.9,9.877557
16,NaN,Alabama,1.0,2015.0,2015.0,528.0,4.858979e+06,10.9,10.866480
17,NaN,Alabama,1.0,2016.0,2016.0,550.0,4.863300e+06,11.3,11.309193
18,NaN,Alabama,1.0,2017.0,2017.0,573.0,4.874747e+06,11.8,11.754456
19,NaN,Alabama,1.0,2018.0,2018.0,552.0,4.887871e+06,11.3,11.293260
20,Total,Alabama,1.0,NaN,NaN,9064.0,9.377945e+07,9.7,9.665231
21,NaN,Alaska,2.0,1999.0,1999.0,55.0,6.247790e+05,8.8,8.803113
22,NaN,Alaska,2.0,2000.0,2000.0,96.0,6.269320e+05,15.3,15.312665
23,NaN,Alaska,2.0,2001.0,2001.0,65.0,6.337140e+05,10.3,10.256993
24,NaN,Alaska,2.0,2002.0,2002.0,92.0,6.423370e+05,14.3,14.322700
25,NaN,Alaska,2.0,2003.0,2003.0,79.0,6.484140e+05,12.2,12.183574
26,NaN,Alaska,2.0,2004.0,2004.0,94.0,6.592860e+05,14.3,14.257849
27,NaN,Alaska,2.0,2005.0,2005.0,87.0,6.669460e+05,13,13.044534
28,NaN,Alaska,2.0,2006.0,2006.0,79.0,6.753020e+05,11.7,11.698470
29,NaN,Alaska,2.0,2007.0,2007.0,94.0,6.803000e+05,13.8,13.817433
...,...,...,...,...,...,...,...,...,...
1035,NaN,Wisconsin,55.0,2013.0,2013.0,437.0,5.742713e+06,7.6,7.609644
1036,NaN,Wisconsin,55.0,2014.0,2014.0,352.0,5.757564e+06,6.1,6.113697
1037,NaN,Wisconsin,55.0,2015.0,2015.0,424.0,5.771337e+06,7.3,7.346651
1038,NaN,Wisconsin,55.0,2016.0,2016.0,455.0,5.778708e+06,7.9,7.873732
1039,NaN,Wisconsin,55.0,2017.0,2017.0,435.0,5.795483e+06,7.5,7.505846
1040,NaN,Wisconsin,55.0,2018.0,2018.0,420.0,5.813568e+06,7.2,7.224479
1041,Total,Wisconsin,55.0,NaN,NaN,7074.0,1.123709e+08,6.3,6.295221
1042,NaN,Wyoming,56.0,1999.0,1999.0,63.0,4.917800e+05,12.8,12.810606
1043,NaN,Wyoming,56.0,2000.0,2000.0,50.0,4.937820e+05,10.1,10.125926
1044,NaN,Wyoming,56.0,2001.0,2001.0,61.0,4.946570e+05,12.3,12.331777
1045,NaN,Wyoming,56.0,2002.0,2002.0,82.0,5.000170e+05,16.4,16.399442
1046,NaN,Wyoming,56.0,2003.0,2003.0,75.0,5.034530e+05,14.9,14.897120
1047,NaN,Wyoming,56.0,2004.0,2004.0,48.0,5.091060e+05,9.4,9.428292
1048,NaN,Wyoming,56.0,2005.0,2005.0,56.0,5.141570e+05,10.9,10.891615
1049,NaN,Wyoming,56.0,2006.0,2006.0,72.0,5.226670e+05,13.8,13.775501
1050,NaN,Wyoming,56.0,2007.0,2007.0,67.0,5.348760e+05,12.5,12.526268
1051,NaN,Wyoming,56.0,2008.0,2008.0,87.0,5.460430e+05,15.9,15.932811
1052,NaN,Wyoming,56.0,2009.0,2009.0,82.0,5.598510e+05,14.6,14.646754
1053,NaN,Wyoming,56.0,2010.0,2010.0,83.0,5.636260e+05,14.7,14.726077
1054,NaN,Wyoming,56.0,2011.0,2011.0,84.0,5.681580e+05,14.8,14.784620
1055,NaN,Wyoming,56.0,2012.0,2012.0,102.0,5.764120e+05,17.7,17.695676
1056,NaN,Wyoming,56.0,2013.0,2013.0,89.0,5.826580e+05,15.3,15.274827
1057,NaN,Wyoming,56.0,2014.0,2014.0,78.0,5.841530e+05,13.4,13.352666
1058,NaN,Wyoming,56.0,2015.0,2015.0,95.0,5.861070e+05,16.2,16.208645
1059,NaN,Wyoming,56.0,2016.0,2016.0,87.0,5.855010e+05,14.9,14.859069
1060,NaN,Wyoming,56.0,2017.0,2017.0,99.0,5.793150e+05,17.1,17.089148
1061,NaN,Wyoming,56.0,2018.0,2018.0,108.0,5.777370e+05,18.7,18.693627
1062,Total,Wyoming,56.0,NaN,NaN,1568.0,1.087406e+07,14.4,14.419642
1063,Total,NaN,NaN,NaN,NaN,384865.0,6.088633e+09,6.3,6.321041
1064,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
homicide

,Notes,State,State Code,Year,Year Code,Deaths,Population,Crude Rate,Rate
0,NaN,Alabama,1.0,1999.0,1999.0,344,4430141,7.8,7.764990
1,NaN,Alabama,1.0,2000.0,2000.0,328,4447100,7.4,7.375593
2,NaN,Alabama,1.0,2001.0,2001.0,343,4467634,7.7,7.677442
3,NaN,Alabama,1.0,2002.0,2002.0,337,4480089,7.5,7.522172
4,NaN,Alabama,1.0,2003.0,2003.0,360,4503491,8,7.993799
5,NaN,Alabama,1.0,2004.0,2004.0,293,4530729,6.5,6.466950
6,NaN,Alabama,1.0,2005.0,2005.0,356,4569805,7.8,7.790267
7,NaN,Alabama,1.0,2006.0,2006.0,370,4628981,8,7.993120
8,NaN,Alabama,1.0,2007.0,2007.0,402,4672840,8.6,8.602905
9,NaN,Alabama,1.0,2008.0,2008.0,381,4718206,8.1,8.075103
10,NaN,Alabama,1.0,2009.0,2009.0,345,4757938,7.3,7.251040
11,NaN,Alabama,1.0,2010.0,2010.0,318,4779736,6.7,6.653087
12,NaN,Alabama,1.0,2011.0,2011.0,317,4802740,6.6,6.600399
13,NaN,Alabama,1.0,2012.0,2012.0,320,4822023,6.6,6.636219
14,NaN,Alabama,1.0,2013.0,2013.0,342,4833722,7.1,7.075293
15,NaN,Alabama,1.0,2014.0,2014.0,321,4849377,6.6,6.619407
16,NaN,Alabama,1.0,2015.0,2015.0,411,4858979,8.5,8.458567
17,NaN,Alabama,1.0,2016.0,2016.0,475,4863300,9.8,9.767031
18,NaN,Alabama,1.0,2017.0,2017.0,527,4874747,10.8,10.810817
19,NaN,Alabama,1.0,2018.0,2018.0,492,4887871,10.1,10.065732
20,Total,Alabama,1.0,NaN,NaN,7382,93779449,7.9,7.871661
21,NaN,Alaska,2.0,1999.0,1999.0,30,624779,4.8,4.801698
22,NaN,Alaska,2.0,2000.0,2000.0,18,626932,Unreliable,2.871125
23,NaN,Alaska,2.0,2001.0,2001.0,26,633714,4.1,4.102797
24,NaN,Alaska,2.0,2002.0,2002.0,27,642337,4.2,4.203401
25,NaN,Alaska,2.0,2003.0,2003.0,35,648414,5.4,5.397786
26,NaN,Alaska,2.0,2004.0,2004.0,20,659286,3,3.033585
27,NaN,Alaska,2.0,2005.0,2005.0,26,666946,3.9,3.898367
28,NaN,Alaska,2.0,2006.0,2006.0,32,675302,4.7,4.738621
29,NaN,Alaska,2.0,2007.0,2007.0,25,680300,3.7,3.674849
...,...,...,...,...,...,...,...,...,...
974,NaN,Wisconsin,55.0,2004.0,2004.0,99,5514026,1.8,1.795421
975,NaN,Wisconsin,55.0,2005.0,2005.0,166,5546166,3,2.993059
976,NaN,Wisconsin,55.0,2006.0,2006.0,115,5577655,2.1,2.061798
977,NaN,Wisconsin,55.0,2007.0,2007.0,140,5610775,2.5,2.495199
978,NaN,Wisconsin,55.0,2008.0,2008.0,89,5640996,1.6,1.577736
979,NaN,Wisconsin,55.0,2009.0,2009.0,104,5669264,1.8,1.834453
980,NaN,Wisconsin,55.0,2010.0,2010.0,110,5686986,1.9,1.934241
981,NaN,Wisconsin,55.0,2011.0,2011.0,90,5711767,1.6,1.575695
982,NaN,Wisconsin,55.0,2012.0,2012.0,127,5726398,2.2,2.217799
983,NaN,Wisconsin,55.0,2013.0,2013.0,125,5742713,2.2,2.176672
984,NaN,Wisconsin,55.0,2014.0,2014.0,127,5757564,2.2,2.205794
985,NaN,Wisconsin,55.0,2015.0,2015.0,183,5771337,3.2,3.170842
986,NaN,Wisconsin,55.0,2016.0,2016.0,194,5778708,3.4,3.357152
987,NaN,Wisconsin,55.0,2017.0,2017.0,168,5795483,2.9,2.898809
988,NaN,Wisconsin,55.0,2018.0,2018.0,159,5813568,2.7,2.734981
989,Total,Wisconsin,55.0,NaN,NaN,2694,112370947,2.4,2.397417
990,NaN,Wyoming,56.0,2002.0,2002.0,12,500017,Unreliable,2.399918
991,NaN,Wyoming,56.0,2003.0,2003.0,11,503453,Unreliable,2.184911
992,NaN,Wyoming,56.0,2005.0,2005.0,15,514157,Unreliable,2.917397
993,NaN,Wyoming,56.0,2009.0,2009.0,14,559851,Unreliable,2.500665
994,NaN,Wyoming,56.0,2011.0,2011.0,12,568158,Unreliable,2.112089
995,NaN,Wyoming,56.0,2012.0,2012.0,13,576412,Unreliable,2.255331
996,NaN,Wyoming,56.0,2013.0,2013.0,11,582658,Unreliable,1.887900
997,NaN,Wyoming,56.0,2014.0,2014.0,12,584153,Unreliable,2.054256
998,NaN,Wyoming,56.0,2015.0,2015.0,17,586107,Unreliable,2.900494
999,NaN,Wyoming,56.0,2016.0,2016.0,13,585501,Unreliable,2.220321
1000,NaN,Wyoming,56.0,2017.0,2017.0,11,579315,Unreliable,1.898794
1001,NaN,Wyoming,56.0,2018.0,2018.0,15,577737,Unreliable,2.596337
1002,Total,Wyoming,56.0,NaN,NaN,216,10874056,2,1.986379
1003,Total,NaN,NaN,NaN,NaN,254047,6088633001,4.2,4.172480

In [117]:
years = [i for i in np.unique(total['Year']) if np.isnan(i) == 0]
states = {x for x in set(total['State']) if x==x}

In [63]:
combined['rate_t'] = ""
combined['rate_s'] = ""
combined['rate_h'] = ""
combined['rate_l'] = ""
# combined[combined.State == 'Alabama'][combined.Year == 1999]['rate_t'] = 2
combined.loc[combined['State'] == "Alabama"][combined['Year'] == 1999]

/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,Notes,State,State Code,Year,Year Code,Deaths,Population,Crude Rate,rate_t,rate_s,rate_h,rate_l
0,NaN,Alabama,1.0,1999.0,1999.0,790,4430141,17.8,,,,

In [66]:
#Construct column names for combined csv
#deaths_t = total deaths, rates_t = total deaths per 100k, etc.
letters = ['t', 's', 'h', 'l']
terms = []
for i in letters:
    temp = 'deaths_' + i
    terms.append(temp)
    temp = 'rate_' + i
    terms.append(temp)
column_names = ["State", "Year", "Population"]
terms
for i in terms:
    column_names.append(i)
column_names

['State',
 'Year',
 'Population',
 'deaths_t',
 'rate_t',
 'deaths_s',
 'rate_s',
 'deaths_h',
 'rate_h',
 'deaths_l',
 'rate_l']

In [136]:
combined = pd.DataFrame(columns = column_names)
combined
states_col = []
years_col = []
pop_col = []
deaths_col_t = []
rates_col_t = []
deaths_col_s = []
rates_col_s = []
deaths_col_h = []
rates_col_h = []
deaths_col_l = []
rates_col_l = []
cols = [[deaths_col_t, rates_col_t], [deaths_col_h, rates_col_h], [deaths_col_s, rates_col_s], [deaths_col_l, rates_col_l]]

[]
[]
[]
[]

In [137]:
#construct arrays for each column of csv
for state in states:
    for year in years:
        total_row = total[total.State == state][total.Year == year]
        homicide_row = homicide[homicide.State == state][homicide.Year == year]
        suicide_row = suicide[suicide.State == state][suicide.Year == year]
        legal_row = legal[legal.State == state][legal.Year == year]
        rows = [total_row, homicide_row, suicide_row, legal_row]
        if total_row.shape[0]:
            states_col.append(state)
            years_col.append(year)
            pop_col.append(total_row.iloc[0]['Population'])
            for i in range(4):
                if rows[i].shape[0]:
                    temp = rows[i].iloc[0]['Deaths']
                    cols[i][0].append(temp)
                    cols[i][1].append(100000*rows[i].iloc[0]['Deaths']/rows[i].iloc[0]['Population'])
                else:
                    cols[i][0].append(0)
                    cols[i][1].append(0)
#         if total_row.shape[0]:
#             pop_col.append(total_row.iloc[0]['Population'])
#             deaths_col_t.append(total_row.iloc[0]['Deaths'])
#             rates_col_t.append(100000*total_row.iloc[0]['Deaths']/total_row.iloc[0]['Population'])
#         else:
#             rates_col_t.append(0)
#             deaths_col_t.append(0)
#         if suicide_row.shape[0]:           
#             deaths_col_s.append(suicide_row.iloc[0]['Deaths'])
#             rates_col_s.append(100000*suicide_row.iloc[0]['Deaths']/suicide_row.iloc[0]['Population'])
#         else:
#             deaths_col_s.append(0)
#             rates_col_s.append(0)
#         if homicide_row.shape[0]:
#             deaths_col_h.append(homicide_row.iloc[0]['Deaths'])
#             rates_col_h.append(100000*homicide_row.iloc[0]['Deaths']/homicide_row.iloc[0]['Population'])
#         else:
#             deaths_col_h.append(0)
#             rates_col_h.append(0)
#         if legal_row.shape[0]:
#             deaths_col_l.append(legal_row.iloc[0]['Deaths'])
#             rates_col_l.append(100000*legal_row.iloc[0]['Deaths']/legal_row.iloc[0]['Population'])
#         else:
#             deaths_col_l.append(0)
#             rates_col_l.append(0)

/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
/srv/app/venv/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [1]:
#check that len is 1020
len(states_col)
len(rates_col_t)
len(pop_col)

NameError: name 'states_col' is not defined

In [135]:
combined['State'] = states_col
combined['Year'] = years_col
combined['Population'] = pop_col
combined

Empty DataFrame
Columns: [State, Year, Population, deaths_t, rate_t, deaths_s, rate_s, deaths_h, rate_h, deaths_l, rate_l]
Index: []

In [144]:
combined['deaths_t'] = deaths_col_t
combined['rate_t'] = rates_col_t
combined['deaths_s'] = deaths_col_s
combined['rate_s'] = rates_col_s
combined['deaths_h'] = deaths_col_h
combined['rate_h'] = rates_col_h
combined['deaths_l'] = deaths_col_l
combined['rate_l'] = rates_col_l
combined

,State,Year,Population,deaths_t,rate_t,deaths_s,rate_s,deaths_h,rate_h,deaths_l,rate_l
0,Texas,1999.0,20558220,2117,10.297584,1224.0,5.953823,860,4.183242,10,0.048642
1,Texas,2000.0,20851820,2168,10.397174,1269.0,6.085800,864,4.143523,23,0.110302
2,Texas,2001.0,21319622,2350,11.022710,1377.0,6.458839,931,4.366869,29,0.136025
3,Texas,2002.0,21690325,2301,10.608416,1315.0,6.062611,942,4.342950,28,0.129090
4,Texas,2003.0,22030931,2432,11.039025,1350.0,6.127748,1031,4.679784,37,0.167946
5,Texas,2004.0,22394023,2342,10.458148,1318.0,5.885499,986,4.402961,19,0.084844
6,Texas,2005.0,22778123,2490,10.931542,1381.0,6.062835,1071,4.701880,25,0.109754
7,Texas,2006.0,23359580,2422,10.368337,1311.0,5.612258,1078,4.614809,20,0.085618
8,Texas,2007.0,23831983,2561,10.746063,1411.0,5.920615,1107,4.645018,24,0.100705
9,Texas,2008.0,24309039,2598,10.687383,1506.0,6.195226,1052,4.327608,24,0.098729
10,Texas,2009.0,24801761,2691,10.850036,1583.0,6.382611,1058,4.265826,26,0.104831
11,Texas,2010.0,25145561,2714,10.793157,1702.0,6.768590,967,3.845609,21,0.083514
12,Texas,2011.0,25674681,2599,10.122813,1684.0,6.558991,869,3.384657,25,0.097372
13,Texas,2012.0,26059203,2743,10.526032,1744.0,6.692453,939,3.603334,28,0.107448
14,Texas,2013.0,26448193,2778,10.503553,1780.0,6.730138,950,3.591928,28,0.105867
15,Texas,2014.0,26956958,2848,10.564990,1789.0,6.636505,1005,3.728165,24,0.089031
16,Texas,2015.0,27469114,3203,11.660369,1994.0,7.259062,1153,4.197442,24,0.087371
17,Texas,2016.0,27862596,3353,12.034055,2016.0,7.235507,1269,4.554493,35,0.125616
18,Texas,2017.0,28304596,3513,12.411412,2158.0,7.624204,1286,4.543432,37,0.130721
19,Texas,2018.0,28701845,3522,12.270988,2263.0,7.884511,1182,4.118202,39,0.135880
20,Maryland,1999.0,5254509,657,12.503547,241.0,4.586537,397,7.555416,14,0.266438
21,Maryland,2000.0,5296486,617,11.649233,245.0,4.625708,355,6.702557,13,0.245446
22,Maryland,2001.0,5374691,607,11.293673,220.0,4.093259,373,6.939934,0,0.000000
23,Maryland,2002.0,5440389,615,11.304339,233.0,4.282782,371,6.819365,0,0.000000
24,Maryland,2003.0,5496269,648,11.789816,239.0,4.348404,398,7.241276,0,0.000000
25,Maryland,2004.0,5546935,656,11.826351,250.0,4.506994,397,7.157106,0,0.000000
26,Maryland,2005.0,5592379,657,11.748131,220.0,3.933925,423,7.563865,10,0.178815
27,Maryland,2006.0,5627367,678,12.048263,238.0,4.229331,419,7.445756,18,0.319865
28,Maryland,2007.0,5653408,678,11.992766,233.0,4.121408,429,7.588343,15,0.265327
29,Maryland,2008.0,5684965,665,11.697521,263.0,4.626238,380,6.684298,20,0.351805
...,...,...,...,...,...,...,...,...,...,...,...
990,New Hampshire,2009.0,1316102,89,6.762394,82.0,6.230520,0,0.000000,0,0.000000
991,New Hampshire,2010.0,1316470,118,8.963364,102.0,7.747993,12,0.911529,0,0.000000
992,New Hampshire,2011.0,1318194,92,6.979246,75.0,5.689603,11,0.834475,0,0.000000
993,New Hampshire,2012.0,1320718,117,8.858818,98.0,7.420206,17,1.287179,0,0.000000
994,New Hampshire,2013.0,1323459,93,7.027041,81.0,6.120326,0,0.000000,0,0.000000
995,New Hampshire,2014.0,1326813,122,9.194966,110.0,8.290543,0,0.000000,0,0.000000
996,New Hampshire,2015.0,1330608,121,9.093587,107.0,8.041437,12,0.901843,0,0.000000
997,New Hampshire,2016.0,1334795,132,9.889159,123.0,9.214898,0,0.000000,0,0.000000
998,New Hampshire,2017.0,1342795,146,10.872844,132.0,9.830242,12,0.893658,0,0.000000
999,New Hampshire,2018.0,1356458,155,11.426819,135.0,9.952391,15,1.105821,0,0.000000
1000,West Virginia,1999.0,1811799,250,13.798440,169.0,9.327746,73,4.029145,0,0.000000
1001,West Virginia,2000.0,1808344,242,13.382410,173.0,9.566764,62,3.428551,0,0.000000
1002,West Virginia,2001.0,1801481,251,13.932981,195.0,10.824427,50,2.775494,0,0.000000
1003,West Virginia,2002.0,1805414,271,15.010408,188.0,10.413124,78,4.320339,0,0.000000
1004,West Virginia,2003.0,1812295,265,14.622343,191.0,10.539123,70,3.862506,0,0.000000
1005,West Virginia,2004.0,1816438,253,13.928359,192.0,10.570138,57,3.138010,0,0.000000
1006,West Virginia,2005.0,1820492,261,14.336784,188.0,10.326879,70,3.845114,0,0.000000
1007,West Virginia,2006.0,1827912,253,13.840929,179.0,9.792594,70,3.829506,0,0.000000
1008,West Virginia,2007.0,1834052,267,14.557930,205.0,11.177437,59,3.216921,0,0.000000
1009,West Virginia,2008.0,1840310,239,12.986942,172.0,9.346251,63,3.423336,0,0.000000
1010,West Virginia,2009.0,1847775,251,13.583905,178.0,9.633208,73,3.950697,0,0.000000
1011,West Virginia,2010.0,1852994,273,14.732913,210.0,11.333010,57,3.076103,0,0.000000
1012,West Virginia,2011.0,1855364,278,14.983583,200.0,10.779556,70,3.772845,0,0.000000
1013,West Virginia,2012.0,1855413,278,14.983187,198.0,10.671479,68,3.664952,0,0.000000
1014,West Virginia,2013.0,1854304,280,15.100005,225.0,12.133933,45,2.426787,0,0.000000
1015,West Virginia,2014.0,1850326,286,15.456736,217.0,11.727663,59,3.188627,0,0.000000
1016,West Virginia,2015.0,1844128,278,15.074875,215.0,11.658627,50,2.711309,0,0.000000
1017,West Virginia,2016.0,1831102,332,18.131158,238.0,12.997637,81,4.423566,11,0.600731
1018,West Virginia,2017.0,1815857,348,19.164505,267.0,14.703801,74,4.075211,0,0.000000
1019,West Virginia,2018.0,1805832,343,18.994015,257.0,14.231667,74,4.097834,0,0.000000

In [145]:
combined.to_csv("combined_CDC.csv")